@font-face {
    font-family: AppleSoft;
    src: url('../assets/alinmaa-font.ttf');
}

.products-container {
    height: 50vh;
}

.maintenance-wrapper {
    margin-top: 10vh;
}

.maintenance-title {
    font-size: 50px;
}

.maintenance-subtitle {
    font-family: AppleSoft;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    display: flex;
    justify-content: center;
    text-align: justify;
}

.contact-hyper {
    color: black;
    font-weight: bold;
}