.contact-footer li {
    font-size: 14px;
    color: grey;
}

.logo-footer {
    margin-top: auto;
    margin-bottom: auto;
    width: 300px;
}

.footer-links {
    margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
    .logo-footer {
        width: 50vw;
    }

    .contact-footer li {
        font-size: 12px;
    }
}